<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/css/tw.css" rel="stylesheet" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/img/favicon-16x16.png"
    />
    <link rel="manifest" href="../public/img/site.webmanifest" />
    <title>Passwords in a modern era</title>
  </head>
  <body style="background-color: #222222">
    <section class="text-gray-400">
      <div class="mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <img
          class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
          alt="hero"
          src="../public/img/passwords.png"
        />
        <div class="text-center lg:w-2/3 w-full">
          <h1
            class="font-serif font-extralight title-font sm:text-4xl text-3xl mb-4 text-white"
          >
            Passwords in a modern era
          </h1>
          <p class="text-gray-300 mt-0">
            November 22, 2023 &CenterDot; 5 min read &CenterDot; by
            <b>Erik Jensson</b>
          </p>
          <br />
          <br />
        </div>
        <div class="max-w-2xl">
          <p
            class="ml-5 mr-5 text-red-50 border-x-inherit text-justify mb-8"
            style="
              font-size: 18px;
              line-height: 30px;
              letter-spacing: 0.002em;
              font-weight: 400;
              text-align: justify;
            "
          >
            Our passwords have never been more exposed to bad actors than as of
            writing. More and more passwords are leaking out of servers, with
            more people treating passwords like a public joke, than the secret
            passage the password is supposed to be.
          </p>
          <p
            class="ml-5 mr-5 text-red-50 border-x-inherit text-justify mb-8"
            style="
              font-size: 18px;
              line-height: 30px;
              letter-spacing: 0.002em;
              font-weight: 400;
              text-align: justify;
            "
          >
            Weak passwords are the main reason people get hacked. And sometimes
            it can be difficult to differentiate between good and bad passwords.
            I will not go into much details about what makes password good or
            bad, but the main gist is to make it sufficiently long and random.
            But this is also kind of the problem. I have only so much space in
            my head, memorizing all these scrambled hyroglyphs is going to bite
            me in the ass sooner or later. So either I write down some of them
            on a piece of paper or digitally on a notepad. Or I could do the
            sane thing and store them via a password manager.
          </p>
          <p
            class="ml-5 mr-5 text-red-50 border-x-inherit text-justify mb-8"
            style="
              font-size: 18px;
              line-height: 30px;
              letter-spacing: 0.002em;
              font-weight: 400;
              text-align: justify;
            "
          >
            Nurishing this idea, I frantically search "Best password manager
            2023".
            <el> - Bitwarden </el>
            <el> - NordPass </el>
            <el> - LastPass </el>
            <el> - Keeper </el>
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
