<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/css/tw.css" rel="stylesheet" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/img/favicon-16x16.png"
    />
    <link rel="manifest" href="../public/img/site.webmanifest" />
    <title>Passwords in a modern era</title>
  </head>
  <body style="background-color: #222222">
    <section class="text-gray-400">
      <div class="mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <img
          class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
          alt="hero"
          src="../public/img/passwords.png"
        />
        <div class="text-center lg:w-2/3 w-full">
          <h1
            class="font-serif font-extralight title-font sm:text-4xl text-3xl mb-4 text-white"
          >
            Passwords in a modern era
          </h1>
          <p class="text-gray-300 mt-0">
            November 22, 2023 &CenterDot; 5 min read &CenterDot; by
            <b>Erik Jensson</b>
          </p>
          <br />
          <br />
        </div>
        <div class="max-w-2xl">
          <p class="ml-5 mr-5 text-red-50 border-x-inherit text-justify mb-8 p">
            This post is about exploring the age-old question; How doeth one
            store thy password? We will dive into why the nature of passwords
            themselves are a problem. How to protect yourself against the most
            common password mistakes, and further quality of life improvements.
          </p>
          <p class="ml-5 mr-5 text-red-50 border-x-inherit text-justify mb-8 p">
            Weak passwords are the main reason people get hacked. And sometimes
            it can be difficult to differentiate between good and bad passwords.
            But essentially what makes password good or bad is primarily the
            combination of sufficent length, randomness and complexity. Make it
            sufficiently long and random and its good. Don't be tempted to add a
            family member combined with your date of birth as a password. This
            is common knowledge at this point but I will reiterate either way;
            don't combine anyform of personal information whatsoever with your
            passwords.
          </p>
          <p class="ml-5 mr-5 text-red-50 border-x-inherit text-justify mb-8 p">
            With this newfound information we can start with developing new
            fresh long, completely out of this world passwords. But... how the
            hell are we supposed to remember this shit. This part sucks. And it
            is without a doubt the most troublesome part about passwords, and
            for sure the most tiresome. Especially if you have to repeat the
            same process of remembering every scrambled hyroglyph after some
            startup leaked your password again. We only so much space in our
            heads, and memorizing all these passwords will bite us in the ass
            sooner than later. So either we can write down some of them on a
            piece of paper, or digitally on a notepad. Even if you encrypt the
            textfile, this is neither safe or conventient. We will explore the
            sane thing to do, namely a password manager.
          </p>
          <p class="ml-5 mr-5 text-red-50 border-x-inherit text-justify mb-8 p">
            If we search up "Best password manager 2023".
          </p>
          <ul
            class="list-item p-5 ml-5 mr-5 text-red-50 border-x-inherit text-justify mb-8 p"
          >
            <li><code>&sc; Bitwarden</code></li>
            <li><code>&sc; NordPass</code></li>
            <li><code>&sc; LastPass</code></li>
            <li><code>&sc; Keeper</code></li>
            <li><code>&sc; 1Password</code></li>
          </ul>
          <p class="ml-5 mr-5 text-red-50 border-x-inherit text-justify mb-8 p">
            We get some options to choose from. And depeding on whether you want
            a cloud, self-host or open-source solution, these can vary. I do
            have to mention that LastPass has been breached atleast three times,
            with disingenuous security notices. This is always something to
            watch out for when choosing your password manager. Research before
            deciding anything. With that out of the way, we can talk about the
            rest.
          </p>

          <p class="ml-5 mr-5 text-red-50 border-x-inherit text-justify mb-8 p">
            Personally I use 1Password. Alongside the many quality of life
            improvements a password manager can feature, they also feature
            something called a secret key alongside your master password and
            2FA. This secret key is a 34 digit sequence of random numbers and
            letters, only accessible to you. The secret key is generated on your
            device and is then used alongside the normal login proccedure to
            gain access to your account. Note that 1Password will have no record
            of this secret key, meaning a breach on 1Password will not be as
            detrimental to your passwords. But this also means if you lose this
            secret key, you lose access to your account permanently. I found
            this feature very interesting, not to mention the very conventient
            SSH support on the CLI they offer.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
