<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/css/tw.css" rel="stylesheet" />
    <title>Erik's Website</title>
  </head>
  <body style="background-color: #181818">
    <section class="text-gray-400 body-font overflow-hidden">
      <div class="container px-5 py-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-800">
          <div class="py-8 flex flex-wrap md:flex-nowrap">
            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
              <span class="font-semibold title-font text-white">Linux</span>
              <span class="mt-1 text-gray-500 text-sm">November 22, 2023</span>
            </div>
            <div class="md:flex-grow">
              <h2 class="text-2xl font-medium text-white title-font mb-2">
                Passwords in a modern era
              </h2>
              <p class="leading-relaxed">
                Our passwords have never been more exposed to bad actors than as
                of writing. More and more passwords are leaking out of servers,
                with more people treating passwords like a public joke, than the
                secret passage the password is supposed to be.
              </p>
              <a
                class="text-red-400 inline-flex items-center mt-4"
                href="/posts/passwords"
                >Learn More
                <svg
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
