<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/css/tw.css" rel="stylesheet" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/img/favicon-16x16.png"
    />
    <link rel="manifest" href="../public/img/site.webmanifest" />
    <title>Erik's Website</title>
  </head>
  <body style="background-color: #181818">
    <section class="text-gray-400">
      <div class="mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <img
          class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
          alt="hero"
          src="../public/img/passwords.png"
        />
        <div class="text-center lg:w-2/3 w-full">
          <h1
            class="font-serif font-extralight title-font sm:text-4xl text-3xl mb-4 text-white"
          >
            "I Store my passwords locally on a textfile", or why this is not
            terrible
          </h1>
          <p class="text-gray-300 text-start mt-0">
            November 22, 2023 &CenterDot; 5 min read &CenterDot; by
            <b>Erik Jensson</b>
          </p>
          <br />
          <br />
        </div>
        <div class="max-w-2xl">
          <p
            class="ml-10 mr-10 text-red-50 border-x-inherit text-justify mb-8"
            style="
              font-size: 20px;
              line-height: 30px;
              letter-spacing: 0.002em;
              font-weight: 400;
              text-align: justify;
            "
          >
            Hi, and welcome to my personal website! This is a site where I talk
            about new, old and current techonology that intrigues me. I love
            fiddling with my Linux machine, doing countless meaningless
            customizations, just so that I can save a couple seconds doing basic
            neanderthal tasks. If this strikes you as interesting, then stick
            around.
          </p>
          <p
            class="text-red-50 border-x-inherit text-justify mb-8"
            style="
              font-size: 20px;
              line-height: 30px;
              letter-spacing: 0.002em;
              font-weight: 400;
              text-align: justify;
              --font: 100% / 1.75 merriweather, georgia, serif;
            "
          >
            Hi, and welcome to my personal website! This is a site where I talk
            about new, old and current techonology that intrigues me. I love
            fiddling with my Linux machine, doing countless meaningless
            customizations, just so that I can save a couple seconds doing basic
            neanderthal tasks. If this strikes you as interesting, then stick
            around.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
